option_settings:
  aws:elbv2:listener:443:
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:211125495619:certificate/
797924b2-d20e-4e3d-a151-942365f9a995
  
  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
    DefaultProcess: default
  
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    EnvironmentType: LoadBalanced

  # Configure HTTPS redirect rule
  aws:elbv2:listenerrule:1:
    PathPatterns: /*
    Priority: 1
    Process: redirecthttps

  aws:elasticbeanstalk:environment:process:redirecthttps:
    Port: 80
    Protocol: HTTP
    HealthCheckPath: /
    Command: ""
    RedirectHTTPSPort: 443
    RedirectHTTPToHTTPS: true