option_settings:
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:211125495619:certificate/631a07b9-f5fa-4e3c-a622-79f853267163
  
  # Redirect HTTP to HTTPS
  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    DefaultProcess: default
    Rules: https_redirect
  
  # Rule for HTTP to HTTPS redirect
  aws:elbv2:listenerrule:https_redirect:
    PathPatterns: /*
    Process: redirect_to_https
  
  # Process for HTTP to HTTPS redirect
  aws:elasticbeanstalk:environment:process:redirect_to_https:
    Port: '80'
    Protocol: HTTP
    HealthCheckPath: /
    MatcherHTTPCode: 200
    RedirectConfig:
      Host: '#{host}'
      Path: '/#{path}'
      Port: '443'
      Protocol: HTTPS
      Query: '#{query}'
      StatusCode: HTTP_301